[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
djangorestframework = "*"
pillow = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
beautifulsoup4 = "*"
requests = "*"
html5lib = "*"
django-cors-headers = "*"
mysqlclient = "*"
celery = "*"
redis = "*"
black = "*"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.10"
